{% extends 'base.html' %}
{% block content %}
<section>
    <h2>Bienvenue sur Djoonjack Services</h2>
    <p>Installation et Réparation | Jeux interactifs 3D</p>
    <p>Contactez-nous directement par :</p>
    <ul>
        <li>Mail : jackson19joseph83@gmail.com / Djoonjack Services@gmail.com</li>
        <li>WhatsApp : +509 4820 2694 / +509 3891 2118</li>
        <li>Téléphone : +509 5517 8664 / +509 4036 0351</li>
    </ul>
    {% if not user.is_authenticated %}
        <a href="{% url 'register' %}"><button>S'inscrire pour jouer</button></a>
        <a href="{% url 'login' %}"><button>Se connecter</button></a>
    {% else %}
        <a href="{% url 'dashboard' %}"><button>Aller au Dashboard</button></a>
    {% endif %}
</section>
{% endblock %}